build/
*~
*#*#
/pcsx.json
/*.frag
/*.vert
/*.lua
/*.mcd
/*.chd
*.tiled-session
/.pcsx
temp/
**/__pycache__/
**/venv/
**/.mypy_cache/
*.MAP
*.LVL
*.COL
*.OMP
*.OTD
*.PRL
*.psxlvl
**/collision16.json
**/tilemap128.csv
*.mdl
*.MDL
*.xa
*.XA
*.VAG
.git/
